<!-- <h1 class="heading-custom">&nbsp;Employee Application</h1> -->
<h1 class="heading-custom text-center bg-primary text-white fw-normal p-3">Employee Application</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <div>
      <a routerLink='/home' routerLinkActive="active" class="navbar-brand">Home</a> &nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink='/employees' routerLinkActive="active" class="navbar-brand">Employees</a> &nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink='/about' routerLinkActive="active" class="navbar-brand">About</a> 
    </div>
    <div>
      <button *ngIf="authService.isLoggedIn()" class="btn btn-danger" (click)="authService.logout()">Logout</button>
    </div>
    
  </div>
</nav>

<div class="container">
  
  <!-- <app-employee-list></app-employee-list> -->
  <router-outlet></router-outlet>
  <!-- <app-employee-detail></app-employee-detail> -->

</div>